/Tema1/JavaApplication4/nbproject/private/
/Tema1/JavaApplication4/build/
/Tema1/JavaApplication5/nbproject/private/
/Tema1/JavaApplication5/build/
/Tema1/JavaApplication5/dist/
/Tema1/JavaApplication6/nbproject/private/
/Tema1/JavaApplication6/build/